= partial("header")
#page
  #page-bgtop
    #page-bgbtm
      #content
        - posts.each do |post|
          .post
            %span.date
              %span.month= post[:created_at].strftime("%b")
              %span.day= post[:created_at].strftime("%d")
            %h2.title
              %a{:href => post.url}= post[:title]
            %p.meta
              %small
                = post.linked_tags
                - if Config.disqus_shortname
                  |
                  %a{:href => "#{post.url}#disqus_thread"} comments
            .entry
              = post.summary_html
              - if post.more?
                %a{:href => post.url} Continue reading »
        - if posts.empty?
          %h2
            %p Looks like this is a fresh install of Scanty.
            %p
              %a{:href => "/auth"}> Log in
              , then
              = succeed "." do
                %a{:href => "/posts/new"} create a post
        - else
          #older_posts
            %a{:href => "/past"} Archive
          - if admin?
            #new_post
              %a{:href => "/posts/new"} New post
          - if Config.disqus_shortname
            :javascript
              //<[CDATA[
              (function() {
                var links = document.getElementsByTagName('a');
                var query = '?';
                for(var i = 0; i < links.length; i++) {
                  if(links[i].href.indexOf('#disqus_thread') >= 0) {
                    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                  }
                }
                document.write('</' + 'script>');
                })();
              //]]>
      / end #content
      = partial("sidebar")
    %div{:style => "clear: both;"}  
/ end #page
= partial("footer")
